<template>
  <div class="platform-selector">
    <v-btn-toggle v-model="localSelectedPlatforms" :multiple="true" class="transparent">
      <v-btn :value="'facebook'" flat v-on:click="toggleSelectedPlatform('facebook')" :class="{['white-icon']: white}">
        <v-icon color="gray lighten-2">fab fa-facebook fa-2x</v-icon>
      </v-btn>
      <v-btn :value="'twitter'" flat v-on:click="toggleSelectedPlatform('twitter')" :class="{['white-icon']: white}">
        <v-icon color="gray lighten-2">fab fa-twitter fa-2x</v-icon>
      </v-btn>
      <v-btn :value="'instagram'" flat v-on:click="toggleSelectedPlatform('instagram')" :class="{['white-icon']: white}">
        <v-icon color="gray lighten-2">fab fa-instagram fa-2x</v-icon>
      </v-btn>
      <v-btn :value="'wordpress'" flat v-on:click="toggleSelectedPlatform('wordpress')" :class="{['white-icon']: white}">
        <v-icon color="gray lighten-2">fab fa-wordpress fa-2x</v-icon>
      </v-btn>
    </v-btn-toggle>
  </div>
</template>

<script>
export default {
  name: 'InlinePlatformSelector',
  data() {
    return {
      localSelectedPlatforms: this.selectedPlatforms
    }
  },
  props: {
    selectedPlatforms: {
      type: Array,
      required: false
    },
    white: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    toggleSelectedPlatform(platform) {
      this.$emit('platformToggle', platform)
    }
  }
}
</script>

<style lang="scss" scoped>
  .platform-selector{
    display: flex;
    justify-content: flex-end;
    button{
      border-right:none!important;
      &.v-btn--active:before, &.v-btn:hover:before, &.v-btn:focus:before{
        background-color: transparent!important;
      }
      &.v-btn--active[value="twitter"]{
        color: #2196f3;
        &.white-icon{
          color: #ffffff;
        }
      }

      &.v-btn--active[value="facebook"]{
        color: #303f9f;
        &.white-icon{
          color: #ffffff;
        }
      }

      &.v-btn--active[value="instagram"]{
        color: #f44336;
        &.white-icon{
          color: #ffffff;
        }
      }

      &.v-btn--active[value="wordpress"]{
        color: #21759b;
        &.white-icon{
          color: #ffffff;
        }
      }
    }
  }
</style>