<template>
  <div>
    <media-list :medias="medias" :showPopoverOnHover="true"></media-list>
    <router-view></router-view>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

import { textMixin } from '../helpers/text'
import { timeMixin } from '../helpers/time'
import { mediaMixin } from '../helpers/media'

import MediaList from '../components/media/MediaList'

export default {
  name: 'Media',
  components: {
    MediaList
  },
  mixins: [textMixin, timeMixin, mediaMixin],
  computed: {
    ...mapState({
      medias: state => state.medias
    })
  },
  methods: {
    ...mapActions([
      'getMedias'
    ])
  },
  mounted() {
    this.getMedias()
  }
}
</script>

<style lang="scss" scoped>
</style>
