<template>
  <div id="campaignSelector">
    <v-select
      v-model="campaign"
      :items="mappedCampaigns"
      label="Campaign"
      placeholder="Select a Campaign"
      :clearable="true"
      clear-icon="fas fa-times fa-sm"
      :disabled="disabled"
    >

    <template slot="item" slot-scope="{item}">
      <v-layout align-center id="platformSelectorDropdown">
        <v-flex xs2>
          <color-square :color="item.color" size="small"></color-square>
        </v-flex>

        <v-flex xs10 class="text-xs-left">
          <span>{{ item.label }}</span>
        </v-flex>
      </v-layout>
    </template>
    <template slot="selection" slot-scope="{item}">
      <v-layout align-center>
        <v-flex xs3>
          <color-square :color="item.color" size="small"></color-square>
        </v-flex>

        <v-flex xs9 class="text-xs-left">
          <span>{{ item.label }}</span>
        </v-flex>
      </v-layout>
    </template>

    </v-select>
  </div>
</template>

<script>
import ColorSquare from '@/components/ColorSquare'

export default {
  name: 'CampaignSelector',
  components: {
    ColorSquare
  },
  data() {
    return {
      campaign: ''
    }
  },
  props: {
    campaigns: {
      required: true,
      type: Array
    },
    preSelectedCampaign: {
      type: [String, null]
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  watch: {
    campaign(newCampaign) {
      if (typeof newCampaign === 'undefined') {
        newCampaign = null
      }
      this.$emit('newCampaignSelected', newCampaign)
    }
  },
  computed: {
    mappedCampaigns() {
      return this.campaigns.map(campaign => {
        return {
          value: campaign._id,
          label: campaign.title,
          color: campaign.color
        }
      })
    }
  },
  beforeMount() {
    if (this.preSelectedCampaign) {
      // Set the campaign where a preSelectedCampaign exists
      this.campaign = this.mappedCampaigns.find(campaign => {
        return campaign.value === this.preSelectedCampaign
      }).value
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
