<template>
<div>
  <v-select
    id="connectionSelector"
    v-model="selectedConnection"
    :items="filteredConnections"
    :clearable="true"
    clear-icon="fas fa-times fa-sm"
    label="Account"
    placeholder="Select an Account"
    :disabled="disabled"
  >
    <template slot="item" slot-scope="{item}">
      <v-layout align-center id="connectionSelectorDropdown">
        <v-flex xs2>
          <v-avatar size="24" color="grey lighten-4">
            <img :src="item.avatar" alt="avatar">
          </v-avatar>
        </v-flex>
        <v-flex xs10 class="text-xs-left">
          <span>{{ item.text }}</span>
        </v-flex>
      </v-layout>
    </template>
    <template slot="selection" slot-scope="{item}">
      <v-layout align-center>
        <v-flex xs3>
          <v-avatar size="24" color="grey lighten-4">
            <img :src="item.avatar" alt="avatar">
          </v-avatar>
        </v-flex>

        <v-flex xs9 class="text-xs-left">
          <span>{{ item.text }}</span>
        </v-flex>
      </v-layout>
    </template>
  </v-select>
  </div>
</template>

<script>
export default {
  name: 'ConnectionSelector',
  data() {
    return {
      selectedConnection: null,
      filteredConnections: []
    }
  },
  props: {
    preSelectedConnection: {
      type: [String, null]

    },
    disabled: {
      type: Boolean,
      default: false
    },
    availableConnections: {
      type: Array,
      required: true
    },
    selectedPlatform: {
      type: [String, null],
      default: null
    }
  },
  computed: {
    mappedConnections() {
      return this.availableConnections.map(conn => {
        return {
          text: conn.profileData.name,
          value: conn.user_id,
          avatar: conn.profileData.picture,
          provider: conn.provider
        }
      })
    }
  },
  watch: {
    selectedConnection(selectedConnection) {
      if (typeof selectedConnection === 'undefined') {
        selectedConnection = null
      }

      this.$emit('newConnectionSelected', selectedConnection)
    },
    selectedPlatform(newSelectedPlatform, oldSelectedPlatform) {
      this.updateFilteredConnections()

      // Connections are specifc to platforms so the selectedConnection property must be reset when new platform is selected
      // Also remove selectedConnection when there is no selected platform
      if (newSelectedPlatform !== oldSelectedPlatform || !newSelectedPlatform) {
        this.selectedConnection = null
      }
    }
  },
  methods: {
    updateFilteredConnections() {
      // Filter connections by platform
      if (typeof this.selectedPlatform === 'string') {
        this.filteredConnections = this.mappedConnections.filter(acc => acc.provider === this.selectedPlatform)
      } else {
        this.filteredConnections = this.mappedConnections
      }
    }
  },
  beforeMount() {
    this.selectedConnection = this.preSelectedConnection

    this.updateFilteredConnections()
  }
}
</script>
