<template>
  <v-layout wrap>
    <v-flex xs12 sm5 class="pr-2">
      <v-menu
        ref="datePickerMenu"
        :close-on-content-click="false"
        v-model="showDatepickerMenu"
        :nudge-right="40"
        :return-value.sync="date"
        lazy
        transition="scale-transition"
        offset-y
        full-width
        :disabled="disabled"
      >
        <v-text-field
          slot="activator"
          v-model="date"
          label="Publish Date"
          placeholder="Select a Date"
          readonly
          id="dateSelector"
          :disabled="disabled"
          >
        </v-text-field>
        <v-date-picker
          id="dateSelectorDropdown"
          v-model="date"
          no-title
          scrollable
          :min="todaysDate"
          @change="$refs.datePickerMenu.save(date)"
        ></v-date-picker>
      </v-menu>
    </v-flex>
    <v-flex xs12 sm5 d-inline-flex>
      <v-flex xs6 class="pr-2">
        <v-select
          v-model="hour"
          :items="hoursOfTheDay"
          label="Hour"
          placeholder="00"
          :disabled="disabled || !date"
        ></v-select>
      </v-flex>
      <v-flex sm6 d-inline-flex>
        <v-select
        v-model="minute"
        :items="minutesOfTheDay"
        label="Minute"
        placeholder="00"
        :disabled="disabled || !date || !hour"
      ></v-select>
      </v-flex>
    </v-flex>
    <v-flex xs12 sm2 fill-height align-center class="clear-button-container">
      <v-flex xs6 fill-height align-center >

        <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-btn icon class="grey--text text--darken-1" v-on="on" @click="resetPublishTimestamp">
                <v-icon>fas fa-times fa-sm</v-icon>
              </v-btn>
            </template>
            <span>Clear Publish Date</span>
          </v-tooltip>
      </v-flex>
    </v-flex>
    <v-flex class="body-2 quick-time-selector">
      <a href="#" class="pr-2" :class="disabled ? 'disabled text--lighten-2' : '' " v-on:click="setTimeFromNow(1, 'minutes')">In a minute</a>
      <a href="#" class="pr-2" :class="disabled ? 'disabled' : '' " v-on:click="setTimeFromNow(1, 'hours')">In an hour</a>
      <a href="#" class="pr-2" :class="disabled ? 'disabled' : '' " v-on:click="setTimeFromNow(1, 'days')">This time tomorrow</a>
    </v-flex>
  </v-layout>
</template>

<script>
import moment from 'moment'

export default {
  name: 'DateTimePicker',
  data() {
    return {
      showTimePickerMenu: false,
      showDatepickerMenu: false,
      publishTimestamp: null,
      date: null,
      hour: null,
      minute: null
    }
  },
  props: {
    disabled: {
      type: Boolean
    },
    preSelectedPublishTimestamp: {
      type: [String, Date]
    }
  },
  watch: {
    disabled(isDisabled) {
      if (isDisabled) {
        // this.resetPublishTimestamp()
      }
    },
    date() {
      this.updateSelectedDate()
    },
    hour() {
      this.updateSelectedDate()
    },
    minute() {
      this.updateSelectedDate()
    }
  },
  computed: {
    todaysDate() {
      return moment().format('YYYY-MM-DD')
    },
    hoursOfTheDay() {
      // Create an array of 'hours of the day' as double digit strings
      const hours = []
      for (let i = 0; i < 24; i++) {
        if (i < 10) {
          hours.push('0' + i.toString())
        } else {
          hours.push(i.toString())
        }
      }
      return hours
    },
    minutesOfTheDay() {
      // Create an array of 'minutes of the day' as double digit strings
      const minutes = []
      for (let i = 0; i < 60; i++) {
        if (i < 10) {
          minutes.push('0' + i.toString())
        } else {
          minutes.push(i.toString())
        }
      }
      return minutes
    }
  },
  methods: {
    emitUpdatedPublishTimestamp() {
      this.$emit('newPublishTimestampSelected', this.publishTimestamp)
    },
    setTimeFromNow(amount = 1, units = 'hours') {
      if (!this.disabled) {
        let timestamp = moment().add(amount, units)
        this.date = timestamp.format('YYYY-MM-DD')
        this.hour = timestamp.format('HH')
        this.minute = timestamp.format('mm')

        this.updateSelectedDate()
      }
    },
    resetPublishTimestamp() {
      this.publishTimestamp = null
      this.date = null
      this.hour = null
      this.minute = null
    },
    updateSelectedDate() {
      if (this.date && this.hour && this.minute) {
        this.publishTimestamp = moment()

        const year = this.date.substring(0, 4)
        const month = this.date.substring(5, 7)
        const day = this.date.substring(8, 10)

        this.publishTimestamp.date(day)
        this.publishTimestamp.month(month - 1) // Months are indexed to 0 in moment month setter
        this.publishTimestamp.year(year)

        this.publishTimestamp.hour(this.hour)
        this.publishTimestamp.minute(this.minute)
        this.publishTimestamp.second(0)
      } else {
        this.publishTimestamp = null
      }

      this.emitUpdatedPublishTimestamp()
    }
  },
  mounted() {
    if (this.preSelectedPublishTimestamp) {
      const preSelectedPublishTimestamp = moment(this.preSelectedPublishTimestamp)
      this.date = preSelectedPublishTimestamp.format('YYYY-MM-DD')
      this.hour = preSelectedPublishTimestamp.format('HH')
      this.minute = preSelectedPublishTimestamp.format('mm')

      this.updateSelectedDate()
    }
  }
}
</script>

<style lang="scss" scoped>
  .quick-time-selector a{
    color: #9e9e9e;
    &.disabled{
      color:#eeeeee;
    }
    transition: 0.25s ease-in color;
    &:not(.disabled):hover{
      color: #2a70e2;
    }
  }
  .clear-button-container{
    align-self: center;
    >div {
      margin: 0 auto;
    }
  }
</style>
