<template>
  <v-layout class="drop-container">
    <drop
      @drop="handleDrop"
      @dragenter="handleDragEnter"
      @dragleave="handleDragLeave"
      drop-effect="move"
      class="flex xs-12"
    >
      <input type="file" multiple class="file-input" v-on:change="handleDrop($event)">
      <div
        v-if="showDefaultMessage"
        class="slot-container fill-height text-xs-center font-weight-medium grey--text text--lighten-2 display-1 font-weight-light"
      >
        <div class="pa-2 drop-container-message">
          <div>Drag and drop files here. Or click to upload.</div>
        </div>
      </div>
      <slot class="fill-height"></slot>
    </drop>
  </v-layout>
</template>

<script>
import { Drop } from 'vue-drag-drop'

export default {
  name: 'DropWrapper',
  components: {
    Drop
  },
  data() {
    return {
      itemIsHovering: false
    }
  },
  props: {
    showDefaultMessage: {
      default: true,
      type: Boolean
    }
  },
  methods: {
    handleDrop(...args) {
      event.preventDefault()

      if (args.length === 1) {
        // Handle the upload of a new file
        let event = args[0]
        let files = event.target.files

        if (files) {
          this.$emit('uploadedFileDropped', files)
        }
      } else if (args.length === 2) {
        // Handle drop of existing file/media from a media component
        let existingFile = args[0]

        if (existingFile) {
          this.$emit('exitingFileDropped', existingFile)
        }
      }
    },
    handleDragEnter(event) {
      this.itemIsHovering = true
    },
    handleDragLeave(event) {
      this.itemIsHovering = false
    }
  }
}
</script>

<style lang="scss" scoped>
.drop-container {
  height: 100%;
  position: relative;
}
.drop-container-message {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.file-input {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}
.slot-container {
  display: flex;
  align-items: center;
}
</style>
