<template>
  <drop-wrapper
    v-on:uploadedFileDropped="handleMediaUpload"
    v-on:exitingFileDropped="existingFileAdded"
    :showDefaultMessage="!addedMedias.length"
  >
    <media-list :medias="addedMedias" :showPopoverOnHover="true"></media-list>
  </drop-wrapper>
</template>

<script>
import { mediaMixin } from '@/helpers/media'

import DropWrapper from './DropWrapper'
import MediaList from '@/components/media/MediaList'

export default {
  name: 'FileUploader',
  components: {
    DropWrapper,
    MediaList
  },
  mixins: [mediaMixin],
  data() {
    return {
      addedMedias: [],
      filesUploading: 0,
      missingMediaMessage: ''
    }
  },
  props: {
    existingMedias: {
      type: Array
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    handleMediaUpload(files) {
      for (let i = 0; i < files.length; i++) {
        this.addNewFile(files.item(i))
      }
    },
    addNewFile(file) {
      if (!this.disabled) {
        const reader = new FileReader(file)
        reader.onload = function(e) {
          // Get some meta data about the file we are uploading
          const metaData = this.getFileMetaData(file, e)

          // Add the file to our existing files
          const filePos = this.addFile(metaData)

          this.uploadFile(file, filePos)
        }.bind(this)

        reader.readAsDataURL(file)
      }
    },
    existingFileAdded(file) {
      this.addFile(file)
      this.$emit('addedMedias', this.addedMedias)
    },
    addFile(file) {
      return this.addedMedias.push(file) - 1
    },
    getFileMetaData(file, e) {
      const previewImage = this.getPreviewImageForFile(file, e)

      return {
        previewUrl: previewImage,
        name: file.name,
        fileSize: file.size,
        fileType: file.type,
        progress: 0
      }
    },
    uploadFile(file, filePosition) {
      this.filesUploading++

      this.$store.dispatch('postMedia', {
        postData: file,
        onUploadProgressHandler: this.onUploadProgressHandler,
        filePosition: filePosition
      })
        .then(response => {
          // Update the media with the saved data
          this.addedMedias[filePosition] = response

          this.$emit('addedMedias', this.addedMedias)

          this.missingMediaMessage = ''
        })
        .catch(() => {
          this.$emit('error', 'There was an error when trying to upload a file')
        })
        .finally(() => {
          this.filesUploading--
        })
    },
    onUploadProgressHandler(progress, filePosition) {
      this.addedMedias[filePosition].progress = progress
    }
  },
  watch: {
    existingMedias(existingMedias) {
      this.addedMedias = existingMedias
    }
  }
}
</script>
