<template>
  <v-layout row>
    <v-dialog v-model="showDialog" max-width="1100px" :scrollable="false">
      <v-card flat height="767px">
        <v-card-title class="pa-0 ma-0">
          <v-toolbar dark color="primary">
            <v-btn icon dark v-on:click="goBack">
              <v-icon class="white--text">fas fa-times fa-2x</v-icon>
            </v-btn>

            <v-toolbar-title v-if="editMode" class="headline primary white--text font-weight-regular">Edit Social Content</v-toolbar-title>
            <v-toolbar-title v-else class="headline primary white--text font-weight-regular">Add Social Content</v-toolbar-title>

            <v-spacer></v-spacer>
          </v-toolbar>
        </v-card-title>

        <v-card-text class="pa-0 ma-0">
          <slot name="header"></slot>

          <div v-if="content && content.publishError" class="error pa-3 subheading white--text">
            <v-icon class="publish-error-message-icon white--text mr-3">fas fa-exclamation-triangle</v-icon>
            {{content.publishError}}
          </div>

          <v-form ref="addContentForm" class="add-content-form">
            <v-layout wrap fill-height>
              <v-flex xs8 class="grey lighten-4 pa-3">
                <h4 class="title font-weight-regular">Create</h4>

                <v-layout wrap pa-3 my-3 class="elevation-2 white">
                  <textarea
                    autofocus
                    placeholder="Write Something"
                    v-model="text"
                    :disabled="disabled"
                    class="box text-input font-weight-medium title pa-3"></textarea>
                </v-layout>

                <v-layout wrap pa-3 mb-3 class="drop-container elevation-2">
                  <v-flex xs12>
                    <file-selector v-on:addedMedias="updateAddedMedias" :existingMedias="addedMedias" :disabled="disabled"></file-selector>
                  </v-flex>

                  <v-flex xs12 py-4>
                    <v-divider></v-divider>
                  </v-flex>

                  <v-flex>
                    <h4 class="font-weight-regular">Existing Files</h4>
                    <media-list :medias="medias" :showPopoverOnHover="true"></media-list>
                  </v-flex>
                </v-layout>
                <!-- <div class="bottom-drop-toolbar grey lighten-4 grey--text">
                  {{addedMedias.length}} {{addedMedias.length === 1 ? 'file': 'files'}} added
                  <span
                    class="red--text"
                    v-if="missingMediaMessage.length"
                  >{{missingMediaMessage}}</span>
                </div> -->

                <v-expansion-panel light>
                  <v-expansion-panel-content>
                    <template v-slot:header>
                      <div>Description</div>
                    </template>

                    <v-card>
                      <v-card-text class="grey lighten-3">
                        <v-text-field pa-3 id="description" v-model="description" label="Description" :disabled="disabled"></v-text-field>
                        </v-card-text>
                    </v-card>
                  </v-expansion-panel-content>

                  <v-expansion-panel-content>
                    <template v-slot:header>
                      <div>Tags (Coming Soon)</div>
                    </template>

                    <v-card>
                      <v-card-text class="grey lighten-3">
                        <v-text-field pa-3 id="tags" label="Tags" disabled></v-text-field>
                      </v-card-text>
                    </v-card>

                  </v-expansion-panel-content>
                </v-expansion-panel>

              </v-flex>

              <v-flex xs4 class="grey lighten-3 pa-3">
                <h4 class="title font-weight-regular">Schedule</h4>
                <v-card-actions class="px-0 py-3 align-start">
                  <v-layout wrap>
                    <v-flex xs12 class="white mb-3 pa-3 elevation-2">
                      <campaign-selector
                        v-if="campaigns && campaigns.length"
                        :campaigns="campaigns"
                        :preSelectedCampaign="content && typeof content.campaign === 'string'
                          ? content.campaign
                          : null"
                        v-on:newCampaignSelected="updateSelectedCampaign"
                        :disabled="disabled"
                      ></campaign-selector>

                      <date-time-picker
                        v-on:newPublishTimestampSelected="updatePublishTimestamp"
                        :preSelectedPublishTimestamp="existingPublishTimestamp"
                        :disabled="disabled || (campaign ? false : true)"
                      ></date-time-picker>
                    </v-flex>

                    <v-flex xs12 class="white mb-3 pa-3 elevation-2">
                      <platform-selector
                        v-on:newPlatformSelected="updateSelectedPlatform"
                        :preSelectedPlatform="platform"
                        :disabled="disabled"
                      ></platform-selector>

                      <connection-selector
                        v-if="connections && connections.length"
                        v-on:newConnectionSelected="updateSelectedConnection"
                        :availableConnections="connections"
                        :selectedPlatform="platform"
                        :preSelectedConnection="connection"
                        :disabled="disabled || (!platform || !platform.length)"
                      ></connection-selector>

                      <platform-preview
                      class="mt-3"
                      v-if="platform"
                      :text="text"
                      :medias="addedMedias"
                      :platform="platform"
                      :connectionId="connection"
                      :publishTimestamp="publishTimestamp"></platform-preview>
                    </v-flex>

                    <v-flex xs12>
                      <v-layout wrap row justify-end>
                        <v-flex xs12 class="mt-3 text-xs-right">
                          <v-btn id="cancelSaveContent" flat v-on:click="goBack">Cancel</v-btn>
                          <v-btn id="saveContent" color="accent" v-on:click="saveContent" :disabled="disabled">{{getSaveButtonText()}}</v-btn>
                        </v-flex>
                      </v-layout>
                    </v-flex>
                  </v-layout>
                </v-card-actions>
              </v-flex>
            </v-layout>
          </v-form>
        </v-card-text>

      </v-card>
    </v-dialog>

    <v-snackbar v-model="error" :right="true" :timeout="6000">
      {{ errorMessage }}
      <v-btn color="pink" flat @click="error = false">Close</v-btn>
    </v-snackbar>
  </v-layout>
</template>

<script>
import moment from 'moment'
import { timeMixin } from '@/helpers/time'

import { mapState } from 'vuex'

import DateTimePicker from './DateTimePicker'
import PlatformSelector from './PlatformSelector'
import ConnectionSelector from './ConnectionSelector'
import FileSelector from './FileSelector'
import CampaignSelector from './CampaignSelector'
import PlatformPreview from './PlatformPreview'
import MediaList from '@/components/media/MediaList'

export default {
  name: 'AddEditSocial',
  mixins: [timeMixin],
  components: {
    DateTimePicker,
    ConnectionSelector,
    PlatformSelector,
    FileSelector,
    CampaignSelector,
    MediaList,
    PlatformPreview
  },
  data() {
    return {
      existingContentId: null, // Will only exist when existing piece of content is being edited
      showDialog: true,
      publishTimestamp: null,
      existingPublishTimestamp: null,
      platform: '',
      connection: '',
      description: '',
      text: '',
      campaign: null,
      addedMedias: [],
      error: false,
      errorMessage: '',
      missingMediaMessage: '',
      platformData: {}
    }
  },
  props: {
    editMode: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    content: {
      type: Object
    }
  },
  watch: {
    showDialog(newDialogState) {
      if (!newDialogState) {
        this.$router.go(-1)
      }
    }
  },
  computed: {
    ...mapState({
      connections: state => state.connections,
      medias: state => state.medias,
      campaigns: state => state.campaigns
    })
  },
  methods: {
    prepareContentForSave() {
      return {
        _id: this.existingContentId,
        publishTimestamp: this.publishTimestamp,
        description: this.description,
        text: this.text,
        campaign: this.campaign,
        media: this.addedMedia,
        platform: this.platform,
        connection: this.connection,
        platformData: this.platformData
      }
    },
    validateContent() {
      // Check we either have content or media added
      if (!this.text.length && !this.addedMedias.length) {
        this.$store.dispatch('setGlobalErrorMessage', 'Cannot save empty content')
        return false
      }

      if (this.publishTimestamp && !this.campaign) {
        this.$store.dispatch('setGlobalErrorMessage', 'Cannot save content with a publish date when no campaign is set')
        return false
      }

      if (!this.publishTimestamp && this.campaign) {
        this.$store.dispatch('setGlobalErrorMessage', 'Cannot save content with a campaign when no publish date is set')
        return false
      }

      if (!this.publishTimestamp && this.campaign) {
        this.$store.dispatch('setGlobalErrorMessage', 'Cannot save content with a campaign when no publish date is set')
        return false
      }

      if (this.timestampIsInPast(this.publishTimestamp)) {
        this.$store.dispatch('setGlobalErrorMessage', 'Cannot save content with a publish date in the past')
        return false
      }

      // Dont save content where a platform has been selected but no platform has been selected.
      // This should never happen.
      if (this.connection && !this.platform) {
        this.$store.dispatch('setGlobalErrorMessage',
          'Cannot save content with a social media account when no platform is selected')
        return false
      }

      if (!this.$refs.addContentForm.validate()) {
        this.$store.dispatch('setGlobalErrorMessage', 'Cannot save content')
        return false
      }

      return true
    },
    saveContent() {
      const isValid = this.validateContent()

      if (isValid) {
        this.$emit('saveContent', this.prepareContentForSave())
      }
    },
    goBack() {
      this.$router.go(-1)
    },
    showError(message) {
      this.error = true
      this.errorMessage = message
    },
    updatePublishTimestamp(timestamp) {
      if (timestamp) {
        this.publishTimestamp = timestamp.format()
      } else {
        this.publishTimestamp = null
      }
    },
    updateSelectedPlatform(newPlatform) {
      if (typeof newPlatform === 'undefined') {
        newPlatform = null
      }

      this.platform = newPlatform
    },
    updateSelectedConnection(newConnection) {
      this.connection = newConnection
    },
    updateSelectedCampaign(newCampaign) {
      this.campaign = newCampaign
    },
    updateAddedMedias(newAddedMedias) {
      this.addedMedias = newAddedMedias
    },
    getSaveButtonText() {
      if (this.editMode) {
        return 'Update'
      } else if (this.publishTimestamp && this.platform && this.connection) {
        if (this.platform === 'twitter') {
          return 'Schedule'
        }
        return 'Coming Soon'
      }

      return 'Save'
    }
  },
  beforeMount: function() {
    if (this.editMode && this.content) {
      // When in edit mode we populate the editors contents/ settings
      this.existingContentId = this.content._id
      this.platform = this.content.platform
      this.description = this.content.description
      this.campaign = this.content.campaign
      this.addedMedias = this.content.media
      this.text = this.content.text

      this.connection = this.content.connection

      this.existingPublishTimestamp = this.content.publishTimestamp
    } else if (this.$route.query && this.$route.query.date) {
      this.existingPublishTimestamp = moment(this.$route.query.date).toDate()
    }
  }
}
</script>

<style lang="scss" scoped>
.add-content-form {
  height: 471px;
}

.drop-container {
  overflow: scroll;
  background-color: #ffffff;
}

.bottom-drop-toolbar {
  width: 100%;
  padding: 10px 16px;
  position: absolute;
  bottom: 0;
}

.edit-mode-toolbar > div {
  display: flex;
  align-items: center;
}

.text-input{
  width: 100%;
  min-height: 200px;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}
.publish-error-message-icon{
  vertical-align: bottom;
}
</style>
