<template>
  <twitter-fields v-if="selectedPlatform === 'twitter'" v-on:platformDataUpdated="platformDataUpdated"></twitter-fields>
</template>

<script>
import twitterFields from './platforms/Twitter'
export default {
  name: 'PlatformFields',
  components: {
    twitterFields
  },
  props: {
    selectedPlatform: {
      required: true,
      type: String
    }
  },
  methods: {
    platformDataUpdated(newData) {
      this.$emit('platformDataUpdated', newData)
    }
  }

}
</script>
