<template>
  <v-select
    id="platformSelector"
    v-model="platform"
    :items="avaliablePlatforms"
    :clearable="true"
    clear-icon="fas fa-times fa-sm"
    label="Platform"
    placeholder="Select a Platform"
    :disabled="disabled"
  >
    <template slot="item" slot-scope="{item}">
      <v-layout align-center id="platformSelectorDropdown">
        <v-flex xs2>
          <v-icon v-if="item.value === 'facebook'" color="indigo darken-2">fab fa-facebook</v-icon>
          <v-icon v-if="item.value ==='twitter'" color="blue">fab fa-twitter</v-icon>
          <v-icon v-if="item.value === 'wordpress'" color="gray darken-2">fab fa-wordpress</v-icon>
          <v-icon v-if="item.value ==='instagram'" color="red">fab fa-instagram</v-icon>
        </v-flex>

        <v-flex xs10 class="text-xs-left">
          <span>{{ item.label }}</span>
        </v-flex>
      </v-layout>
    </template>
    <template slot="selection" slot-scope="{item}">
      <v-layout align-center>
        <v-flex xs3>
          <v-icon v-if="item.value === 'facebook'" color="indigo darken-2">fab fa-facebook</v-icon>
          <v-icon v-if="item.value ==='twitter'" color="blue">fab fa-twitter</v-icon>
          <v-icon v-if="item.value === 'wordpress'" color="gray darken-2">fab fa-wordpress</v-icon>
          <v-icon v-if="item.value ==='instagram'" color="red">fab fa-instagram</v-icon>
        </v-flex>

        <v-flex xs9 class="text-xs-left">
          <span>{{ item.label }}</span>
        </v-flex>
      </v-layout>
    </template>
  </v-select>
</template>

<script>
export default {
  name: 'PlatformSelector',
  data() {
    return {
      platform: '',
      avaliablePlatforms: [{
        label: 'Facebook',
        value: 'facebook'
      }, {
        label: 'Twitter',
        value: 'twitter'
      }, {
        label: 'Instagram',
        value: 'instagram'
      },
      {
        label: 'Wordpress',
        value: 'wordpress'
      }]
    }
  },
  props: {
    preSelectedPlatform: {
      type: String
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  watch: {
    platform(selectedPlatform) {
      if (typeof selectedPlatform === 'undefined') {
        selectedPlatform = null
      }
      this.$emit('newPlatformSelected', selectedPlatform)
    }
  },
  beforeMount() {
    this.platform = this.preSelectedPlatform
  }
}
</script>
