<template>
<div class="elevation-2">
  <twitter-preview v-if="platform === 'twitter'" :text="text" :medias="medias" :connectionId="connectionId" :publishTimestamp="publishTimestamp"></twitter-preview>
  <facebook-preview v-if="platform === 'facebook'" :text="text" :medias="medias" :connectionId="connectionId" :publishTimestamp="publishTimestamp"></facebook-preview>
  <instagram-preview v-if="platform === 'instagram'" :text="text" :medias="medias" :connectionId="connectionId" :publishTimestamp="publishTimestamp"></instagram-preview>
  <wordpress-preview v-if="platform === 'wordpress'" :text="text" :medias="medias" :connectionId="connectionId" :publishTimestamp="publishTimestamp"></wordpress-preview>
</div>
</template>

<script>
import TwitterPreview from './platformPreviews/TwitterPreview'
import FacebookPreview from './platformPreviews/FacebookPreview'
import InstagramPreview from './platformPreviews/InstagramPreview'
import WordpressPreview from './platformPreviews/WordpressPreview'

export default {
  name: 'PlatformPreview',
  components: {
    TwitterPreview,
    FacebookPreview,
    InstagramPreview,
    WordpressPreview
  },
  props: {
    platform: {
      type: String,
      required: true
    },
    text: {
      type: String
    },
    medias: {
      type: Array
    },
    connectionId: {
      type: String
    },
    publishTimestamp: {
      type: String
    }
  }
}
</script>
