<template>
  <v-dialog v-model="showDeleteDialog" max-width="290">
    <v-card>
      <v-card-title class="headline">Are you sure you want to delete this content?</v-card-title>
      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn color="primary" flat="flat" @click="emitCloseDialog">Cancel</v-btn>

        <v-btn color="error" @click="emitDeleteContent">
          <v-icon class="pr-1" color="white">far fa-trash-alt fa-sm</v-icon>Agree
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'DeleteContentDialog',
  data() {
    return {
      showDeleteDialog: {
        required: true,
        type: Boolean
      }
    }
  },
  watch: {
    showDeleteDialog(showDeleteDialog) {
      if (!showDeleteDialog) {
        this.$emit('closeDialog')
      }
    }
  },
  methods: {
    emitDeleteContent() {
      this.$emit('deleteContent')
    },
    emitCloseDialog() {
      this.$emit('closeDialog')
    }
  }
}
</script>
