<template>
  <div>
    <v-toolbar dense flat class="grey lighten-2 edit-mode-toolbar">
      <div class="pr-4 subheading">
        <v-icon class="accent--text pr-1">fas fa-user-circle fa-lg</v-icon>{{content.created | toCalendarDate}}
      </div>

      <v-btn small color="error" v-on:click="showDeleteDialog = true">
        <v-icon class="pr-1" color="white">far fa-trash-alt fa-sm</v-icon>Delete
      </v-btn>

      <v-spacer></v-spacer>

      <div class="pr-4 subheading" v-if="content.campaign">
        <v-icon class="accent--text pr-1">fas fa-campaign-alt fa-lg</v-icon>
        <router-link
          :to="{name: 'campaign', params: {campaignUuid: content.campaign}}"
        >{{content.campaign.title}}</router-link>
      </div>
      <publish-status :publishStatus="content.publishStatus" :publishTimestamp="content.publishTimestamp" :publishUrl="content.publishUrl" :publishedAt="content.publishedAt">
      </publish-status>
    </v-toolbar>

    <delete-content-dialog
      v-if="showDeleteDialog"
      @deleteContent="onDeleteContent"
      @closeDialog="onCloseDialog"
    ></delete-content-dialog>
  </div>
</template>

<script>
import { timeMixin } from '@/helpers/time'

import DeleteContentDialog from './DeleteContentDialog'
import PublishStatus from '@/components/PublishStatus'

export default {
  name: 'AddEditToolBar',
  mixins: [timeMixin],
  data() {
    return {
      showDeleteDialog: false
    }
  },
  components: {
    DeleteContentDialog,
    PublishStatus
  },
  props: {
    content: {
      required: true,
      type: Object
    }
  },
  methods: {
    onDeleteContent() {
      this.$emit('deleteContent')
    },
    onCloseDialog() {
      this.showDeleteDialog = false
    }
  }
}
</script>
