<template>
  <div class="facebook-preview">
    Facebook preview coming soon
  </div>
</template>
<script>
export default {
  name: 'FacebookPreview',
  props: {
    text: {
      required: true,
      type: String
    },
    medias: {
      type: Array
    }
  }
}
</script>
<style lang="scss" scoped>
</style>
