<template>
  <div class="instagram-preview">
    Instagram preview coming soon
  </div>
</template>
<script>
export default {
  name: 'InstagramPreview',
  props: {
    text: {
      required: true,
      type: String
    },
    medias: {
      type: Array
    }
  }
}
</script>
<style lang="scss" scoped>
</style>
