<template>
  <div class="twitter-preview" v-if="(text && text.length || medias && medias.length) && connection">
    <v-avatar class="avatar" v-if="connection.profileData.picture">
      <img :src="connection.profileData.picture">
    </v-avatar>
    <div class="main">
      <div class="meta">
      <div>
        <span class="name" v-if="connection.profileData.name">{{connection.profileData.name}}</span>&nbsp;<span class="handle" v-if="connection.profileData.screen_name">@{{connection.profileData.screen_name}}</span>&nbsp;<span class="date">&nbsp;{{publishTimestamp | toFormattedDate('MMM DD')}}</span>
      </div>
      </div>
      <div class="tweet">
        <p>{{text}}</p>

        <div v-if="medias && medias.length" >
          <div v-for="media in medias" v-bind:key="media._id">
            <img :src="media.resourceUrl" :alt="media.fileName">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

import { timeMixin } from '@/helpers/time'

export default {
  name: 'TwitterPreview',
  mixins: [timeMixin],
  props: {
    text: {
      required: true,
      type: String
    },
    medias: {
      type: Array
    },
    connectionId: {
      type: String
    },
    publishTimestamp: {
      type: String
    }
  },
  computed: {
    connection() {
      return this.$store.state.connections.find(connection => {
        return connection.user_id === this.connectionId
      })
    }
  }
}
</script>
<style lang="scss" scoped>
  .twitter-preview{
    background: #ffffff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #14171a;
    padding: 9px 12px;

    .avatar{
      float: left;
      margin-top: 3px;
      position: absolute;
    }

    .main{
      margin-left: 58px;
      .meta {
        .name{
          word-break: break-all;
          font-size: 14px;
          font-weight: bold;
        }
        .handle, .date{
          font-size: 14px;
          color: #657786;
        }
        .date:before {
          content: "\00b7";
        }
      }
      .tweet{
        img{
          max-width: 100%;
        }
        p{
          word-break: break-all;
        }
      }
    }
  }
</style>
